#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.boeLogo {
  height: 6em;
  padding: 1.5em;
}
.boeLogo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.boeLogo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


