.form {
  width: 100%;
  height: 100%; /* Full height */
  max-width: none; /* Remove max width restriction */
  padding: 20px;
  background-color: #4b5563;
  border-radius: 10px;
  box-shadow: 0px 4px 12px #4a5563; /* Subtle shadow */
  display: flex;
  flex-direction: row; /* Make labels and input be in a row */
  justify-content: flex-end;
  align-items: center;
}

.inputFile {
  display: none;
}

.SubmitButton {
  display: none;
}

.inputText {
  color: black;
  font-family: Arial, sans-serif;
  font-size: medium;
  font-weight: bold;
  background-color: rgb(229, 222, 222);
  padding: 5px;
  border: 2px solid rgb(243, 240, 246);
  border-radius: 5px;
  width: 100%; /* Take up the remaining space between the labels */
  box-sizing: border-box;
  margin: 0 10px; /* Add margin between the labels */
}

.inputFileLabel {
  transition: transform 0.2s ease, opacity 0.2s ease; /* Ensure smooth transitions */
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.inputFileLabel:hover {
  opacity: 0.7; /* Slightly reduce opacity for a subtle fade effect */
  transform: scale(1.1); /* Scale the logo slightly to create a zoom effect */
}

.submitButtonLabel {
  transition: transform 0.2s ease, opacity 0.2s ease; /* Ensure smooth transitions */
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.submitButtonLabel:hover {
  opacity: 0.7; /* Slightly reduce opacity for a subtle fade effect */
  transform: scale(1.1); /* Scale the logo slightly to create a zoom effect */
}
